h1(style="font-size: 24px; color: #333;") User update

form(action=`/users/${user._id}?_method=PUT`, method="POST", style="margin-top: 20px;")

    label(for="name", style="display: block; margin-bottom: 5px;") name:
    input(type="text", value=user.name id="name", name="name", required, style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;")

    label(for="lastname", style="display: block; margin-bottom: 5px;") lastname:
    input(type="text", id="lastname", value=user.lastname  name="lastname", required, style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;")

    label(for="email", style="display: block; margin-bottom: 5px;") email:
    input(type="email", id="email", value=user.email name="email", required, style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;")

    label(for="password", style="display: block; margin-bottom: 5px;") password:
    input(type="password", id="password", value=user.password name="password", required, style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;")

    input(type="submit", value="Submit", style="background-color: #28a745; color: #fff; padding: 10px; border: none; cursor: pointer;")

hl(style="margin-top: 20px;")
a(href="/", style="text-decoration: none; color: #007bff;") Home page
